body {
  margin: 0;
  color: #ffffff;
  background-color: #202020;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.textarea {
  padding: 10px;
  margin: 0;
  font-family: "Courier New", "Courier", monospace;
  font-size: 18px;
  color: #00ff00;
  resize: none;
  background-color: #000000;
  border: 2px solid #666666;
  border-radius: 5px;
  outline: none;
}

.keyboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 5px;
  justify-content: center;
  padding: 10px;
  background-color: #1a1a1a;
  border: 2px solid #666666;
  border-radius: 5px;
}

.keyboard__row {
  display: flex;
  column-gap: 5px;
}

.keyboard__key {
  display: flex;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  background-color: #333333;
  border: 1px solid #666666;
  border-radius: 5px;
  box-shadow: 0 2px #000000;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.keyboard__key:hover {
  background-color: #666666;
  box-shadow: 4px 4px #000000;
  transition: 0.2s linear;
}

.keyboard__key:active,
.pressed {
  padding: 8px;
  margin: 2px;
  background-color: #999999;
  transition: 0.2s linear;
}


.Backspace,
.ShiftLeft,
.Space {
  flex-grow: 1;
}

.CapsLock {
  flex-grow: 1;
  padding: 0 10px;
}

.Enter {
  flex-grow: 2;
}

.ShiftRight {
  width: 71.5px;
}
